.box-profile {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    color: #fff;
    display: flex;
    padding: 10px;
    width: 50%;
    gap: 10px;
    align-items: center;
    transition: 1s;
    justify-content: space-around;
    flex-shrink: 0;
}

.box-profile.active {
    opacity: 1;
}

.img-profile img {
    border-radius: 50%;
    width: 300px;
    height: 300px;
}

body {
    overflow: hidden;
}

.bg-bio {
    height: 100vh;
    border-radius: 0;
}

.content-profile h3 {
    letter-spacing: 1.2px;
}

.content-profile h5 {
    color: gray;
    transform: translateY(-10px);
}

.content-profile {
    text-align: start;
    font-size: 20px;
    gap: 20px;
}

main {
    height: 100vh;
}

#arrows {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70%;
    display: flex;
    justify-content: space-between;
}

#arrows button {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    color: #fff;
    border: none;
    background-color: transparent;
    font-size: 25px;
    transition: 0.5s;
    display: flex;
    align-items: center;
    justify-content: center;
}

#arrows button:hover {
    background-color: rgb(255, 255, 255);
    color: #000000;
}

 
@media (max-width: 992px) {
    body {
        overflow: auto;
    }

    main {
        height: auto;
        padding: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .box-profile {
        justify-content: center;
        transition: none;
        position: static !important;
        transform: none !important;
        opacity: 1 !important;
        width: 90%;
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin-bottom: 30px;
        display: flex !important;
        margin: 0 auto;
    }

    .content-profile {
        text-align: center;
    }

    .img-profile img {
        width: 200px;
        height: 200px;
    }

    #arrows {
        display: none;
    }
}
